[submodule "caramarSite"]
	path = caramarSite
	url = https://github.com/SarahPorzig/caramarSite
[submodule "LakesView"]
	path = LakesView
	url = https://github.com/SarahPorzig/LakesView
[submodule "reactTemplateSite"]
	path = reactTemplateSite
	url = https://github.com/SarahPorzig/reactTemplateSite.git
[submodule "AlphaYoga"]
	path = AlphaYoga
	url = https://github.com/SarahPorzig/AlphaYoga.git
[submodule "koalaceramics"]
	path = koalaceramics
	url = https://github.com/SarahPorzig/koalaceramics.git
